body {
  margin: 0;
  font-family: serif;
}

.header {
  background: #d7e3ea;
  padding: 20px;
}

.content {
  display: flex;
}

.main {
  flex: 1;
  background: #e7cda6;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background: #d8a6d8;
  padding: 20px;
}
